/* 
    Document   : accueil
    Created on : 4 juin 2013, 17:08:29
    Author     : Gregzenegair
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;

}
body{
    text-align: center;
}
header,
footer{
    background-color: darkgray;
}
header *,
footer *{
    display: inline; 
}
header h1{
    margin-right: 3rem; 
}

footer {
     font-variant: small-caps;
     padding: 10px;
}

nav{
    background-color: gray;
}
nav *{
    display: inline;
    width: 10rem;
}
article{
    background-color: lightgray;
    border: 2px solid darkgrey;
}
article td{
    padding-left: 1rem;
    padding-right: 1rem;
}
article form label{
    display: block;
}
article form .submit,
article form label.input{
    display: inline-block;
}

a, a:focus, a:active {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    transition: all 1s;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: orangered;
    transition: all 1s;
}

#formulaire {
    text-align: center;
}

.message {
    color: orangered;
}

input[type=text] {
    width: 14em;
    text-align: left;
}