/* 
    Document   : accueil
    Created on : 4 juin 2013, 17:08:29
    Author     : Gregzenegair
    Description:
        Purpose of the stylesheet follows.
*/
*{
    margin:0;
    padding: 0;
}
root { 
    display: block;
}
body{
    font-family:"Arial ", Sans-serif;
    font-size: 100%;
    background-color: #ececec
}
header,
#slider{
    text-align: center;
}

header,
#centre,
#slider{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%
}
#slider{
    margin-top:1rem;
}
#centre article{
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    padding: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#centre article div{
    text-align: justify;
    padding: 1rem;
}

#centre article h1{
    font-size: xx-large;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    
}
#centre article div h3{
    font-size: large;
}
#centre article div p{
    font-size: small;
    display: inline;
    text-align: justify;
        
}
.concert{
    transition: all 0.5s;
}


a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}
.concert:hover{
    background-color:#fafafa;
    transition: all 0.5s;
}

#slider img{
    width: 5rem;
    height: 5rem;
}
